{# Sub templates for Dockerfile commands have access to: 
   params
   command
   macros/versioned_param_list.jinja
-#}
{% import 'macros/versioned_param_list.jinja' as param_list -%}
RUN apk add --no-cache --repository=https://dl-cdn.alpinelinux.org/alpine/edge/testing/ \
    {{ param_list.render(parameters, command.supported_parameters) }}