{# Sub templates for Dockerfile commands have access to: 
   parameters
   macros/versioned_param_list.jinja
-#}
{% import 'macros/versioned_param_list.jinja' as param_list -%}
{# "The incantation" -#}
RUN apt-get update -y && \
    apt-get install --no-install-recommends -y \
    {{ param_list.render(parameters, pkgs) }} && \
    apt-get clean && \
    rm -rf /var/lib/apt/lists/*