
{% from 'macros/commands.jinja' import filter_unused_parameters_command_and_unallocated_parameters -%}

{% macro render_image_and_tag_args(
            params,
            config
            ) -%}

{% set base_tag = namespace(name=config.base_tag) -%}
{% for name, special_tag in config.need_special_tags.items() -%}
{% if name == config.unused_parameters_command -%}
{% set parameters = params.copy() -%}
{% do filter_unused_parameters_command_and_unallocated_parameters(
            parameters,
            config
            ) -%}
{% else -%}
{% set parameters = params|select("in", config.commands[name].supported_parameters)|list() -%}
{% endif -%}
{% if parameters|length >= 1 -%}
{% set base_tag.name = special_tag -%}
{% endif -%}
{% endfor -%}
ARG base_image={{ config.base_image }}
ARG base_tag={{ base_tag.name }}
{% endmacro -%}