{% macro version_if_any_for_x_from(x, container) -%}
{% if container is mapping() -%}
{% set val=container.get(x) -%}
{% if val is string() -%}
{{ x -}}={{ val -}}
{% else -%}
{# TODO:  Full Python or Pyodide app that calls the 
          API for Apt-get or apk to check versions,
          if one or more is given in the config -#}
{{ x -}}={{ val[-1] -}}
{% endif -%}
{% else -%}
{{ x -}}
{% endif -%}
{% endmacro -%}